* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
.intro {
    width: 100%;
    height: 50vh;
    background-color: cadetblue;
    /* background-image: url(''); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__title {
    font-size: 7rem;
    color: #FFFFFF;
}

.intro__text {
    font-size: 2rem;
    color: #FFFFFF;
}

.step_container {
    width: 100%;
    min-height: 100px;
    background-color: rgb(30 108 147);
    /* color: #FFFFFF;
    font-size: 3.2rem;
    text-align: center; */
    padding: 20px 10%;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container {
    width: 100%;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step_text {
    color: #FFFFFF;
    font-size: 3.2rem;
    /* line-height: 1; */
    text-align: center;
}





/*  */
.element_ {
    width: 80%;
    height: 60vh;
    background-color: blue;
}